[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/precompiles"]
	path = src/precompiles
	url = https://github.com/OffchainLabs/nitro-precompile-interfaces.git
